@use "variables" as var;

@mixin breakpoint($breakpoint) {
    @if $breakpoint == "tablet" {
        @media (min-width: #{var.$tablet}) {
            @content;
        }
    } @else if $breakpoint == "desktop" {
        @media (min-width: #{var.$desktop}) {
            @content;
        }
    } @else if $breakpoint == "wide" {
        @media (min-width: #{var.$wide}) {
            @content;
        }
    } @else {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($columns, $rows, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
}

@mixin text($size, $weight, $color, $transform, $spacing, $reponse: false, $minSize: null, $maxSize: null, $minWidth: null, $maxWidth: null) {
    @if $responsive {
        @include responsiveText($minSize, $maxSize, $minWidth, $maxWidth);
    } @else {
        font-size: $size;
    }
    font-weight: $weight;
    color: $color;
    text-transform: $transform;
    letter-spacing: $spacing;
}

@mixin responsiveText($minSize, $maxSize, $minWidth, $maxWidth) {
    font-size: calc(#{$minSize}px + (#{$maxSize} - #{$minSize}) * ((100vw - #{$minWidth}px) / (#{$maxWidth} - #{$minWidth})));
}