@use "../abstracts" as var;

footer {
  width: 100%;
  background: var.$primaryColor;
  margin-top: 16rem;

  @include var.breakpoint(tablet) {
    @include var.flex(end, center);
    padding-block: 2.6rem 0;
  }

  .container {
    max-width: 95%;
    margin: 0 auto;

    @include var.grid(1, auto, 1em, center, center);

    @include var.breakpoint(tablet) {
      display: grid;
      max-width: 98%;
      width: 100%;
      margin: 0;
      grid-template-columns: 0.7fr 0.6fr 0.7fr;
      gap: 1em;
      justify-items: center;
      align-items: center;
    }

    @include var.breakpoint(1200px) {
      grid-template-columns: 0.4fr 0.6fr 1fr;
      align-items: start;
      gap: 3em;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      padding-left: 15em;
    }
  }

  .decoration__container {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: calc(240px + (334 - 240) * ((100vw - 320px) / (1920 - 320)));
    grid-row: 1;
    margin-bottom: 0;

    @include var.breakpoint(tablet) {
      grid-column: 3;
    }

    @include var.breakpoint(1200px) {
      width: 100%;
      grid-column: 3;
      justify-self: end;
    }
  }

  .decoration {
    position: absolute;
    top: -15%;
    right: -1em;
    height: 100%;
    width: 100%;

    @include var.breakpoint(tablet) {
      right: 0;
    }

    @include var.breakpoint(1200px) {
      height: 123%;
      top: -30%;
    }
  }

  .logo-footer {
    margin-bottom: 3.3rem;
    align-self: start;

    @include var.breakpoint(tablet) {
      margin-bottom: 0;
    }
  }

  .footer-text {
    @include var.text(23px, 400, black, none, 1, false);
    width: 100%;
    line-height: 1.2;

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}
