@use "../abstracts" as var;

header {
  position: fixed;
  z-index: 99;
  @include var.flex(center, center, 10%);
  width: min(95%, 863px);
  min-height: 77px;
  top: 0;
  left: 0;

  .container {
    @include var.grid(3, 1, 3em, center, center);
    width: 98%;
    padding: 0 1rem;
    position: absolute;
    top: 5px;
    left: 1%;
    border: 1px solid var.$primaryColor;
    padding: 1rem 4rem;
    z-index: 1;
    background: white;
    min-height: 69px;

    @include var.breakpoint(desktop) {
      gap: 1.7em;
      grid-template-columns: 0.07fr 1fr 0.07fr;
      width: 100%;
    }
  }

  .bg {
    position: absolute;
    z-index: 0;
    border: 1px solid var.$primaryColor;
    width: 100%;
    height: 70px;
    left: -25px;
    top: -5px;
    background: white;

    @include var.breakpoint(dekstop) {
      width: 102%;
    }
  }

  @include var.breakpoint(desktop) {
    .menu {
      width: 100%;
    }
  }

  .menu-container {
    transform: translateY(-100vw);
    position: absolute;
    transition: 0.8s ease-in-out;
    background: white;
    width: 100%;
    left: 0;
    border: 1px solid var.$primaryColor;
    border-radius: 10px;
    padding: 1.4rem 2rem;
    @include var.flex(center, center, 0.5em, column);

    &.active {
      transform: translateY(15%);
    }

    a {
      @include var.text(20, 700, black, normal, 0.1em, true, 17, 320, 1920);
      text-decoration: none;
      transition: 0.3s ease-in-out;

      &.active {
        color: var.$primaryColor;
      }

      &:hover {
        color: var.$primaryColor;
      }
    }

    @include var.breakpoint(desktop) {
      position: initial;
      transform: translateY(0);
      flex-direction: row;
      justify-content: space-between;
      border: none;
      padding: 0;
      gap: 1.5em;
    }
  }

  .burger-menu {
    border: 1px solid var.$primaryColor;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    @include var.flex(center, center, 0.2em, column);

    span {
      display: block;
      width: 70%;
      height: 3px;
      background: var.$primaryColor;
      border-radius: 10px;
    }

    @include var.breakpoint(desktop) {
      display: none;
    }
  }
}
