@use "../abstracts/" as var;

.page {
  .hero-banner {
    background: var.$secondaryColor;
    position: relative;

    @include var.breakpoint(1400px) {
      height: 100vh;
    }

    .container {
      max-width: 98%;
      margin: 10rem auto 0 auto;
      background: var.$secondaryColor;
      height: fit-content;

      @include var.breakpoint(tablet) {
        max-width: min(85%, 1700px);
      }

      .left {
        margin-bottom: 2rem;

        @include var.breakpoint(1400px) {
          height: 100%;
        }
      }

      .arrow-full {
        display: none;
        position: absolute;

        @include var.breakpoint(tablet) {
          display: block;
          bottom: 60%;
          right: 10%;
        }
        @include var.breakpoint(wide) {
          right: 13%;
          bottom: 55%;
        }

        @include var.breakpoint(1400px) {
          bottom: 10%;
          right: 51%;
        }
      }

      @include var.breakpoint(wide) {
        display: grid;
        grid-template-columns: 1fr 0.75fr;
        justify-items: center;
        align-items: start;
        margin: 0 auto 2rem auto;
        width: 100%;
        max-width: 100%;
        gap: 0;

        .right {
          align-self: start;
          justify-items: end;
          width: 100%;
          img {
            width: 100%;
          }
        }

        .left {
          margin-bottom: 0;
          margin-top: 11em;
          margin-left: 8rem;
        }
      }

      .right {
        @include var.breakpoint(tablet) {
          display: none;
        }

        @include var.breakpoint(wide) {
          display: flex;
        }

        @include var.breakpoint(1400px) {
          height: 100%;
        }
      }

      .list__hero-banner {
        ul {
          li {
            line-height: 1.2;
          }
          @include var.flex(center, start, 1em, column);
          list-style: none;

          @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);

          strong:last-of-type {
            display: block;
            margin-block: 0;
            padding-block: 0;
          }

          br {
            display: none;
          }
        }

        @include var.breakpoint(tablet) {
          margin-left: 5em;

          li {
            position: relative;

            &::before {
              content: "";
              background: url("/orange-arrow.svg") no-repeat center center;
              background-size: contain;
              width: 34.69px;
              height: 34.69px;
              position: absolute;
              left: -2.1em;
              top: 0.2em;
            }
          }
        }

        @include var.breakpoint(desktop) {
          margin-left: 10em;
        }

        @include var.breakpoint(wide) {
          margin-left: 4em;
        }

        @include var.breakpoint(1600px) {
          margin-left: 12em;
        }
      }
    }
  }

  .prestations {
    margin-top: calc(23px + (122 - 23) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    width: 100%;
    background: white;

    .container {
      @include var.flex(center, start, 0.8em, column);
      max-width: 98%;
      margin: 0 auto;

      @include var.breakpoint(tablet) {
        max-width: min(90%, 1700px);
      }
    }

    .goutte {
      display: none;

      @include var.breakpoint(tablet) {
        display: block;
        position: absolute;
        bottom: -1em;
        left: -12em;
      }

      @include var.breakpoint(wide) {
        left: -12.3em;
        top: 10em;
        height: 80%;
      }
    }

    .content {
      max-width: 1275px;
    }

    ul {
      @include var.flex(start, start, 1.3em, column);
      list-style: none;
      @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);
      margin-left: 2em;

      li {
        position: relative;
        line-height: 1.2;

        &::before {
          content: "";
          background: url("/orange-arrow.svg") no-repeat center center;
          background-size: contain;
          width: calc(
            24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
          );
          height: calc(
            24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
          );
          position: absolute;
          left: -2.1em;
          top: 0.5em;
        }
      }

      @include var.breakpoint(tablet) {
        margin-left: 11em;
      }

      @include var.breakpoint(desktop) {
        margin-left: 8em;
      }

      @include var.breakpoint(wide) {
        margin-left: 13em;
      }
    }
  }

  .contenu {
    background: white;
    margin-top: calc(51px + (120 - 51) * ((100vw - 320px) / (1920 - 320)));

    .container {
      max-width: 98%;
      margin-inline: auto;
      @include var.flex(center, center, 0, column);

      @include var.breakpoint(550px) {
        max-width: min(90%, 1700px);
      }

      @include var.breakpoint(1600px) {
        max-width: 55%;
      }
    }

    h3 {
      @include var.text(63, 700, black, initial, auto, true, 40, 320, 1920);
      position: relative;
      display: block;
      width: fit-content;

      &::after {
        content: "";
        width: 50%;
        background: black;
        height: 7px;
        position: absolute;
        bottom: -0.1em;
        left: 0.1em;
        border-radius: 10px;
      }
    }

    .wp-block-image {
      margin-top: calc(49px + (56 - 49) * ((100vw - 320px) / (1920 - 320)));
      margin-bottom: 3.1rem;
    }
  }

  .wp-block-columns {
    align-self: start;
    display: grid;
    grid-template-columns: 57px 1fr;
    justify-items: center;
    align-items: start;
    gap: 1.8rem;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    &:last-of-type {
      @include var.flex(center, center, 1rem, column);

      .wp-block-column {
        width: fit-content;
        flex-basis: auto !important;

        div,
        figure {
          width: fit-content;
        }
      }

      h4 {
        @include var.text(
          55,
          700,
          var.$primaryColor,
          initial,
          auto,
          true,
          30,
          320,
          1920
        );
        line-height: 1.2;
        text-align: center;
      }

      @include var.breakpoint(tablet) {
        flex-direction: row;
        gap: 1.8rem;

        h4 {
          text-align: left;
        }
      }
    }

    .wp-block-image {
      margin-top: 0;
    }

    p {
      @include var.text(23, 400, black, initial, auto, true, 17, 320, 1920);
    }
  }
}
