@use "../abstracts" as var;

.hero-banner__front {
  position: relative;

  h1 {
    text-transform: uppercase;
    max-width: 300px;
    text-align: center;

    @include var.breakpoint(420px) {
      text-align: left;
    }

    @include var.breakpoint(600px) {
      max-width: 620px;
    }

    span {
      white-space: break-spaces;
    }
  }

  @include var.flex(center, center, 2em, column);
  margin-top: 5em;

  @include var.breakpoint(1400px) {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    min-height: 100vh;
    gap: 0;
  }

  @include var.breakpoint(1600px) {
    grid-template-columns: 1fr 0.75fr;
    height: 100vh;
  }

  .left {
    max-width: 98%;
    margin-inline: auto;
    @include var.flex(center, start, 0, column);

    @include var.breakpoint(1400px) {
      max-width: 95%;
      height: 100%;
    }
    @include var.breakpoint(1600px) {
      max-width: 90%;
      padding-top: 10em;
    }
  }

  .title {
    @include var.flex(center, center, 0.5em, column);

    @include var.breakpoint(420px) {
      flex-direction: row;
    }

    @include var.breakpoint(550px) {
      flex-direction: row;
    }

    @include var.breakpoint(tablet) {
      gap: 1.5em;

      display: grid;
      grid-template-columns: 0.4fr 1fr 0.4fr;
      justify-items: center;
      align-items: center;

      .logo-front {
        width: 100%;
      }
    }

    @include var.breakpoint(1400px) {
      grid-template-columns: 0.4fr 1fr;
    }

    img {
      width: calc(100px + (280 - 106) * ((100vw - 320px) / (1920 - 320)));
    }
  }

  .eco {
    display: none;

    @include var.breakpoint(tablet) {
      @include var.flex(center, center, 0.1em, column);
      width: calc(110px + (188 - 100) * ((100vw - 320px) / (1920 - 320)));
      height: calc(110px + (188 - 100) * ((100vw - 320px) / (1920 - 320)));
      border-radius: 50%;
      border: 1px solid var.$primaryColor;
      margin-top: 2rem;

      strong {
        font-size: calc(17px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 700;
        color: var.$primaryColor;
        text-align: center;
      }

      a {
        font-size: calc(15px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 400;
        color: var.$primaryColor;
      }
    }
  }

  .arrow {
    position: absolute;
    display: none;
    z-index: 100;

    @include var.breakpoint(428px) {
      display: block;
      top: 18%;
      right: 5%;
    }

    @include var.breakpoint(tablet) {
      display: block;
      bottom: 60%;
      right: 10%;
      top: unset;
    }
    @include var.breakpoint(wide) {
      right: 13%;
      bottom: 55%;
    }

    @include var.breakpoint(1400px) {
      bottom: 10%;
      right: 51%;
    }
  }

  .right {
    color: white;
    position: relative;

    @include var.breakpoint(1400px) {
      height: 100%;
    }

    &__content {
      @include var.flex(start, start, 0, column);
      padding-bottom: 5rem;

      @include var.breakpoint(1400px) {
        height: 100%;
      }

      p:not(:first-of-type) {
        margin-top: 1.3em;
      }
    }

    .blue-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      top: unset;
      bottom: 0;
      margin: auto;
      background: var.$primaryColor;
      z-index: -1;

      @include var.breakpoint(tablet) {
        height: 93%;
      }

      @include var.breakpoint(1400px) {
        height: 100%;
      }
    }

    @include var.breakpoint(1400px) {
      align-self: start;
    }

    figure {
      max-height: 513px;
      overflow: hidden;
      object-fit: cover;
      object-position: center;

      img {
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
      }
    }

    figure,
    figure img {
      width: 100%;
    }

    @include var.breakpoint(tablet) {
      figure {
        width: 53%;
        align-self: end;
      }
    }

    @include var.breakpoint(1400px) {
      figure {
        width: 100%;
      }
    }

    p,
    h2 {
      margin-inline: 1.7rem;
      @include var.breakpoint(tablet) {
        margin-inline: 3.2rem;
      }
    }

    p {
      @include var.text(23, 300, white, initial, auto, true, 20, 320, 1920);
      line-height: 1.4;
    }

    h2 {
      margin-block: 2.8rem 5.3rem;
      position: relative;
      color: white;
      width: fit-content;

      &::after {
        background: white;
        margin-top: 0.2rem;
      }

      @include var.breakpoint(tablet) {
        margin-top: -2em;
      }

      @include var.breakpoint(1400px) {
        margin-top: 2.8rem;
      }
    }
  }
}

.first-content__accueil {
  margin-top: 0;

  @include var.breakpoint(desktop) {
    margin-top: 12rem;
  }
  .container {
    max-width: 93%;
    margin-inline: auto;

    @include var.breakpoint(desktop) {
      max-width: 90%;
    }

    @include var.breakpoint(wide) {
      max-width: min(95%, 1700px);
    }
  }

  h2 {
    margin-block: 2.8rem 1.5rem;
    @include var.breakpoint(wide) {
      margin-block: 2.8rem 0;
      max-width: 700px;
    }
    @include var.breakpoint(1600px) {
      max-width: 100%;
    }
  }

  @include var.breakpoint(wide) {
    .content {
      display: grid;
      grid-template-columns: 1fr 0.7fr;
      justify-items: center;
      align-items: center;
      gap: 5em;
      margin-top: -4em;
    }
  }

  .list-premiere-partie {
    @include var.flex(center, start, 1em, column);
    width: 100%;
    list-style: none;
    @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);

    @include var.breakpoint(tablet) {
      @include var.grid(2, 1, 1em, start, center);
      margin-left: 1em;
    }

    @include var.breakpoint(wide) {
      gap: 1.4em;
      justify-self: center;
      justify-items: start;
      width: 100%;
    }

    li {
      @include var.flex(center, center, 1rem, row-reverse);

      @include var.breakpoint(tablet) {
        flex-direction: row-reverse;
        gap: 0.6em;
      }

      &::after {
        content: "";
        background: url("/orange-arrow.svg") no-repeat center center;
        width: 34.69px;
        height: 34.69px;
      }
    }
  }

  .list-lien {
    margin-top: 5.2rem;
    @include var.flex(center, center, 0.5em, column);
    max-width: 90%;
    margin-inline: auto;

    @include var.breakpoint(tablet) {
      flex-direction: row;
      align-items: center;
      gap: 5.2rem;
    }

    @include var.breakpoint(wide) {
      flex-direction: column;
      align-items: start;
      margin-top: 0;
    }

    li {
      border: 1px solid var.$primaryColor;
      padding: 3rem 2.5rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: var.$primaryColor;
        top: 0;
        bottom: 0;
        margin-block: auto;
        left: -0.5em;
      }
    }

    a {
      @include var.text(
        40,
        700,
        var.$primaryColor,
        initial,
        auto,
        true,
        23,
        320,
        1920
      );
      text-decoration: none;
    }
  }
}

.second-part__accueil {
  margin-top: 2.8rem;

  @include var.breakpoint(desktop) {
    margin-top: 4.8rem;
  }

  .container {
    max-width: 93%;
    margin-inline: auto;

    @include var.breakpoint(tablet) {
      @include var.grid(2, 1, 2em, start, center);
      max-width: min(95%, 1700px);
    }

    @include var.breakpoint(1400px) {
      row-gap: 0;
      column-gap: 1em;
    }
  }

  h2 {
    margin-block: 2.8rem 0;

    @include var.breakpoint(tablet) {
      grid-column: 1/ 3;
    }

    @include var.breakpoint(wide) {
      max-width: 15em;
    }
  }

  img {
    margin-bottom: 2em;
    align-self: start;

    @include var.breakpoint(dekstop) {
      align-self: center;
    }

    @include var.breakpoint(wide) {
      max-width: 90%;
      margin-inline: auto;
    }

    @include var.breakpoint(1400px) {
      justify-self: end;
      margin-inline: 0;
      margin-top: 0;
    }
  }

  .right__container {
    @include var.flex(center, center, 1em, column);

    @include var.breakpoint(wide) {
      max-width: 90%;
      margin-inline: auto;
    }

    @include var.breakpoint(1400px) {
      justify-self: start;
      margin-inline: 0;
      max-width: 80%;
      margin-top: -2em;
    }
  }

  article {
    @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);
    line-height: 1.4;
  }

  .list-container {
    width: 100%;
    align-self: start;
    @include var.flex(center, start, 5.2rem, column);
    margin-top: 2em;
    margin-left: 1em;

    @include var.breakpoint(tablet) {
      align-items: start;
      margin-left: 0;
    }

    @include var.breakpoint(dekstop) {
      width: 70%;
    }

    li {
      border: 1px solid var.$primaryColor;
      padding: 3rem 2.5rem;
      position: relative;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background: var.$primaryColor;
        position: absolute;
        left: -0.5em;
        top: 0;
        bottom: 0;
        margin-block: auto;
        border-radius: 50%;
      }
    }

    a {
      @include var.text(
        40,
        700,
        var.$primaryColor,
        initial,
        auto,
        true,
        23,
        320,
        1920
      );
      text-decoration: none;
    }
  }
}
