@use "../abstracts" as var;

.qualifications {
  .hero-banner {
    background: var.$secondaryColor;

    @include var.breakpoint(1400px) {
      height: 100vh;
    }
  }

  .container {
    margin-inline: auto;
    margin-top: 6em;

    @include var.breakpoint(desktop) {
      display: grid;
      grid-template-columns: 1fr 0.7fr;
      gap: 2em;
      justify-items: center;
      align-items: center;
      margin: 0 auto 2em auto;
      width: 100%;
      max-width: 100%;
    }

    @include var.breakpoint(1400px) {
      height: 100%;
    }
  }

  .left {
    @include var.flex(center, start, 1em, column);
    margin-bottom: 2em;
    position: relative;

    @include var.breakpoint(wide) {
      margin-left: 2em;
    }

    @include var.breakpoint(1400px) {
      height: 100%;
      margin-top: 3em !important;
    }

    .full-arrow {
      align-self: center;

      @include var.breakpoint(tablet) {
        position: absolute;
        width: 34.69px;
        height: 34.69px;
        right: 0;
        bottom: 2em;
      }

      @include var.breakpoint(1400px) {
        bottom: 5em;
        width: 48.73px;
        height: 82.36px;
      }
    }
  }

  h1 {
    @include var.text(
      106,
      700,
      var.$primaryColor,
      initial,
      auto,
      true,
      45,
      320,
      1920
    );
    position: relative;
    line-height: 1.2;

    .initial {
      position: relative;
      z-index: 1;
    }

    span:not(.initial) {
      position: absolute;
      color: transparent;
      -webkit-text-stroke: 1px black;
      top: 0.5%;
      left: 0.5%;
      z-index: 0;

      @include var.breakpoint(desktop) {
        max-width: 90%;
      }
    }

    @include var.breakpoint(tablet) {
      max-width: 80%;
    }
  }

  .list__hero-banner ul {
    @include var.flex(center, start, 1em, column);
    list-style: none;
    @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);
    margin-left: 2em;

    @include var.breakpoint(tablet) {
      margin-left: 0;
      max-width: 90%;
    }

    @include var.breakpoint(desktop) {
      max-width: 100%;
    }

    @include var.breakpoint(1400px) {
      max-width: 80%;
      margin-left: 3em;
    }

    li {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: calc(
          24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
        );
        height: calc(
          24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
        );
        background: url("/orange-arrow.svg") no-repeat center center;
        background-size: contain;
        left: -1.7em;
      }

      @include var.breakpoint(tablet) {
        margin-left: 4em;

        &::before {
          left: -2em;
        }
      }
    }

    a {
      color: var.$primaryColor;
      font-weight: 700;
      pointer-events: none;
      text-decoration: none;
    }
  }

  .right {
    background: var.$primaryColor;
    color: white;
    padding: 8em 2em;
    @include var.text(23, 400, white, initial, auto, true, 18, 320, 1920);
    @include var.flex(center, center, 2em, column);

    @include var.breakpoint(tablet) {
      padding-inline: 4em;
    }

    @include var.breakpoint(desktop) {
      height: 100%;
    }

    @include var.breakpoint(1400px) {
      height: 100%;
      padding: 0 4em;
    }

    .wp-block-columns {
      @include var.flex(center, center, 2em, column);

      @include var.breakpoint(tablet) {
        flex-direction: row;
        align-items: end;
      }
    }

    .bordered-content {
      border: 2px solid white;
      padding: 3.6rem 5.2rem;
    }
  }

  .left {
    max-width: 98%;
    margin: 0 auto;

    @include var.breakpoint(tablet) {
      max-width: 85%;
    }
  }

  .accompagnement-projets {
    margin-top: calc(43px + (122 - 43) * ((100vw - 320px) / (1920 - 320)));

    .container {
      max-width: 98%;
      margin-inline: auto;

      @include var.breakpoint(desktop) {
        grid-template-columns: 1fr;
        gap: 0;
      }

      @include var.breakpoint(wide) {
        max-width: min(93%, 1700px);
      }
    }

    h2 {
      @include var.text(63, 700, black, initial, auto, true, 30, 320, 1920);
      margin-bottom: 1em;
      margin-bottom: 3em;
      position: relative;

      &::after {
        content: "";
        height: 7px;
        width: 50%;
        background: black;
        position: absolute;
        left: 0;
        bottom: -0.1em;
        border-radius: 10px;
      }

      @include var.breakpoint(wide) {
        max-width: 1100px;
        display: block;
        justify-self: start;
      }
    }

    .team {
      position: relative;
      @include var.flex(center, start, 0, column);
    }

    .blue-background {
      background: var.$primaryColor;
      position: absolute;
      width: 100%;
      height: 80%;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      margin-inline: auto;

      @include var.breakpoint(617px) {
        height: 70%;
      }

      @include var.breakpoint(desktop) {
        height: 90%;
      }

      @include var.breakpoint(1400px) {
        max-width: 90%;
      }
    }

    .team-member__container {
      @include var.flex(center, center, 1em, column);
      width: 100%;

      @include var.breakpoint(desktop) {
        flex-direction: row;
      }

      @include var.breakpoint(1400px) {
        max-width: 90%;
        margin-inline: auto;
        @include var.grid(2, 1, 1em, center, center);
      }

      li {
        border: 1px solid var.$primaryColor;
        padding: 2.8rem 2rem;
        background: white;
        @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);
        max-width: 600px;
        margin-inline: auto;
        line-height: 1.3;

        @include var.breakpoint(desktop) {
          padding-inline: 2.5em;
        }

        @include var.breakpoint(1400px) {
          max-width: 100%;
        }

        h4 {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: calc(
              24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
            );
            height: calc(
              24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
            );
            background: url("/blue-arrow.svg") no-repeat center center;
            background-size: contain;
            left: -1.8em;
            display: none;

            @include var.breakpoint(desktop) {
              display: block;
            }
          }
        }
      }
    }
  }

  .content-container {
    margin-top: 2em;
    color: white;
    padding-inline: 1.5em;
    @include var.text(23, 400, white, initial, auto, true, 17, 320, 1920);

    @include var.breakpoint(tablet) {
      padding-inline: 3em;
    }

    @include var.breakpoint(1400px) {
      max-width: min(90%, 1700px);
      margin-inline: auto;
    }

    ul {
      margin-block: 1em 0 !important;
      @include var.flex(center, start, 1em, column);
      line-height: 1.3;
    }
  }

  .bottom-goutte {
    align-self: end;
    padding-right: 2.6rem;
    padding-bottom: 1em;

    @include var.breakpoint(wide) {
      padding-right: 0;
      margin-right: 7em;
    }
  }

  .references {
    .container {
      margin-top: 4em;
      max-width: 98%;
      @include var.flex(center, center, 0, column);

      @include var.breakpoint(desktop) {
        @include var.flex(center, center, 0, column);
        max-width: 85%;
      }

      @include var.breakpoint(1400px) {
        max-width: min(75%, 1700px);
      }
    }

    h2 {
      @include var.text(63, 700, black, initial, auto, true, 35, 320, 1920);
      margin-bottom: 1em;
      position: relative;
      width: fit-content;

      @include var.breakpoint(tablet) {
        text-align: center;
      }

      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 7px;
        background: black;
        border-radius: 10px;
        bottom: -0.1em;
        left: 0;
      }
    }

    .reference-text {
      @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);
      margin-top: 3em;

      ul {
        margin-top: 0;
        list-style-position: inside;
      }
    }

    .qualifications {
      margin-top: 3em;
      width: 100%;

      @include var.flex(center, center, 8rem, column);

      @include var.breakpoint(tablet) {
        @include var.grid(2, auto, 5rem, center, center);
      }

      @include var.breakpoint(1400px) {
        grid-template-columns: repeat(3, 1fr);
      }

      li {
        @include var.flex(center, center, 0, column);
      }

      li:nth-of-type(odd) .content {
        color: var.$primaryColor;
      }

      li:nth-of-type(even) .content {
        color: #e59a23;
      }

      .content {
        background: white;
        padding: 2.5rem;
        @include var.text(21, 400, black, initial, auto, true, 18, 320, 1920);

        @include var.breakpoint(tablet) {
          position: relative;
          top: -4em;
          max-width: 85%;
          align-self: end;
        }
      }
    }

    .liens-page {
      border: 1px solid var.$primaryColor;
      padding: 3.4rem 2.5rem;
      position: relative;

      @include var.breakpoint(1400px) {
        grid-column: 3;
      }

      &::before {
        content: "";
        background: var.$primaryColor;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -0.6em;
        top: 0;
        bottom: 0;
        margin-block: auto;
        border-radius: 50%;
      }

      a {
        color: var.$primaryColor;
        text-decoration: none;
        @include var.text(
          25,
          700,
          var.$primaryColor,
          initial,
          auto,
          true,
          20,
          320,
          1920
        );
      }
    }
  }
}
