@use "../abstracts" as var;

.qualifications {
  .hero-banner {
    background: var.$secondaryColor;
    position: relative;

    @include var.breakpoint(wide) {
      min-height: 100%;
    }
    @include var.breakpoint(1600px) {
      height: 100vh;
    }
  }

  span:not(.initial) {
    left: 0.65%;
  }

  .container {
    margin-inline: auto;
    padding-top: 6em;

    @include var.breakpoint(wide) {
      display: grid;
      grid-template-columns: 1fr 0.75fr;
      gap: 0;
      justify-items: center;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      padding-top: 0;
      height: 100%;
    }

    h1 {
      max-width: 700px;
    }
  }

  .left {
    @include var.flex(start, start, 1em, column);
    margin-bottom: 5em !important;

    @include var.breakpoint(wide) {
      margin-left: 2em;
    }

    @include var.breakpoint(wide) {
      height: 100%;
      padding-top: 11em !important;
    }

    .full-arrow {
      display: none;
      position: absolute;

      @include var.breakpoint(tablet) {
        display: block;
        bottom: 65%;
        right: 10%;
      }
      @include var.breakpoint(wide) {
        right: 48%;
        bottom: 25%;
      }

      @include var.breakpoint(1400px) {
        bottom: 10%;
        right: 51%;
      }
    }
  }

  .list__hero-banner ul {
    @include var.flex(center, start, 1em, column);
    list-style: none;
    @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);
    margin-left: 2em;

    @include var.breakpoint(tablet) {
      margin-left: 0;
      max-width: 90%;
    }

    @include var.breakpoint(desktop) {
      max-width: 100%;
    }

    @include var.breakpoint(1400px) {
      max-width: 80%;
      margin-left: 3em;
    }

    li {
      position: relative;
      line-height: 1.2;

      &::before {
        content: "";
        position: absolute;
        width: calc(
          24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
        );
        height: calc(
          24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
        );
        background: url("/orange-arrow.svg") no-repeat center center;
        background-size: contain;
        left: -1.7em;
      }

      @include var.breakpoint(tablet) {
        margin-left: 4em;

        &::before {
          left: -2.1em;
        }
      }
    }

    a {
      color: var.$primaryColor;
      font-weight: 700;
      pointer-events: none;
      text-decoration: none;
    }
  }

  .right {
    background: var.$primaryColor;
    color: white;
    padding: 4em 2em;
    @include var.text(23, 400, white, initial, auto, true, 18, 320, 1920);
    @include var.flex(center, center, 2em, column);

    @include var.breakpoint(tablet) {
      padding: 3em 4em;
    }

    @include var.breakpoint(desktop) {
      height: 100%;
      padding-block: 8em;
    }

    @include var.breakpoint(wide) {
      height: 100%;
      padding: 3.5em 2em 1em 2em;
    }

    @include var.breakpoint(1400px) {
      height: 100vh;
      padding: 1.5em 2em 1em 2em;
      gap: 1em;
      align-self: start;
    }

    @include var.breakpoint(1700px) {
      padding: 3.5em 2em 1em 2em;
      gap: 2em;
      height: 100%;
    }

    .wp-block-columns {
      @include var.flex(center, center, 2em, column);

      @include var.breakpoint(tablet) {
        flex-direction: row;
        align-items: end;
      }
    }

    .bordered-content {
      border: 2px solid white;
      padding: 3.6rem 5.2rem;
    }
  }

  .left {
    max-width: 93%;
    margin: 0 auto;

    @include var.breakpoint(tablet) {
      max-width: 85%;
    }
  }

  .accompagnement-projets {
    margin-top: 3rem;

    @include var.breakpoint(tablet) {
      margin-top: 0;
    }

    .container {
      max-width: 93%;
      margin-inline: auto;
      padding-top: 1em;

      @include var.breakpoint(tablet) {
        max-width: 95%;
      }

      @include var.breakpoint(desktop) {
        grid-template-columns: 1fr;
        gap: 0;
        max-width: 98%;
      }

      @include var.breakpoint(wide) {
        max-width: min(93%, 1700px);
      }
    }

    h2 {
      margin-bottom: 1.5em;

      @include var.breakpoint(wide) {
        max-width: 1100px;
        display: block;
        justify-self: start;
      }
    }

    .team {
      position: relative;
      @include var.flex(center, start, 0, column);
    }

    .blue-background {
      background: var.$primaryColor;
      position: absolute;
      width: 100%;
      height: 80%;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      margin-inline: auto;

      @include var.breakpoint(617px) {
        height: 70%;
      }

      @include var.breakpoint(desktop) {
        height: 90%;
      }

      @include var.breakpoint(1400px) {
        max-width: 90%;
      }
    }

    .team-member__container {
      @include var.flex(center, center, 1em, column);
      width: 100%;

      @include var.breakpoint(desktop) {
        flex-direction: row;
      }

      @include var.breakpoint(1400px) {
        max-width: 90%;
        margin-inline: auto;
        @include var.grid(2, 1, 1em, center, center);
      }

      li {
        border: 1px solid var.$primaryColor;
        padding: 2.8rem 2rem;
        background: white;
        @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);
        max-width: 600px;
        margin-inline: auto;
        line-height: 1.3;

        @include var.breakpoint(desktop) {
          padding-inline: 2.5em;
        }

        @include var.breakpoint(1400px) {
          max-width: 100%;
          
          &.impair:last-of-type {
            grid-column: 1 / 3;
            justify-self: center;
          }
        }

        h4 {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: calc(
              24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
            );
            height: calc(
              24.69px + (34.69 - 24.69) * ((100vw - 320px) / (1920 - 320))
            );
            background: url("/blue-arrow.svg") no-repeat center center;
            background-size: contain;
            left: -2.1em;
            display: none;

            @include var.breakpoint(desktop) {
              display: block;
            }
          }
        }
      }
    }
  }

  .content-container {
    margin-top: 2em;
    color: white;
    padding-inline: 1.5em;
    @include var.text(23, 400, white, initial, auto, true, 17, 320, 1920);

    @include var.breakpoint(tablet) {
      padding-inline: 3em;
    }

    @include var.breakpoint(1400px) {
      max-width: min(90%, 1700px);
      margin-inline: auto;
    }

    ul {
      margin-block: 1em 0 !important;
      @include var.flex(center, start, 1em, column);
      line-height: 1.3;
    }
  }

  .bottom-goutte {
    align-self: end;
    padding-right: 2.6rem;
    padding-bottom: 1em;

    @include var.breakpoint(wide) {
      padding-right: 0;
      margin-right: 6em;
    }
  }

  .references {
    .container {
      margin-top: 3em;
      max-width: 93%;
      padding-top: 0;
      @include var.flex(center, center, 0, column);

      @include var.breakpoint(tablet) {
        max-width: 95%;
        margin-top: 2em;
      }

      @include var.breakpoint(desktop) {
        @include var.flex(center, center, 0, column);
        max-width: 85%;
        margin-top: 4em;
      }

      @include var.breakpoint(1400px) {
        max-width: min(75%, 1700px);
      }
    }

    h2 {
      margin-bottom: 1.5em;

      @include var.breakpoint(tablet) {
        text-align: center;
        margin-bottom: 0.5em;
      }

      @include var.breakpoint(dekstop) {
        margin-bottom: 1.5em;
      }
    }

    .reference-text {
      @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);
      line-height: 1.3;

      ul {
        margin-top: 0;
        list-style-position: inside;
      }
    }

    .qualifications {
      margin-top: 3em;
      width: 100%;

      @include var.flex(center, center, 8rem, column);

      @include var.breakpoint(tablet) {
        @include var.grid(2, auto, 1em, center, start);
      }

      @include var.breakpoint(1400px) {
        grid-template-columns: repeat(3, 1fr);
      }

      li {
        @include var.flex(center, center, 0, column);
      }

      li:nth-of-type(odd) .content {
        color: var.$primaryColor;
      }

      li:nth-of-type(even) .content {
        color: #e59a23;
      }

      .content {
        background: white;
        padding: 2.5rem 0 2.5rem 2.5rem;
        @include var.text(21, 400, black, initial, auto, true, 18, 320, 1920);
        line-height: 1.3;

        @include var.breakpoint(tablet) {
          position: relative;
          top: -4em;
          max-width: 85%;
          align-self: end;
        }
      }
    }

    .liens-page {
      border: 1px solid var.$primaryColor;
      padding: 3rem 2.5rem;
      position: relative;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background: var.$primaryColor;
        position: absolute;
        left: -0.5em;
        top: 0;
        bottom: 0;
        margin-block: auto;
        border-radius: 50%;
      }

      @include var.breakpoint(1400px) {
        grid-column: 3;
      }
    }

    a {
      @include var.text(
        40,
        700,
        var.$primaryColor,
        initial,
        auto,
        true,
        23,
        320,
        1920
      );
      text-decoration: none;
    }
  }
}
