@use "../abstracts" as var;

.valeurs {
  @include var.flex(center, center, 0, column);
  padding-block: 8rem 20rem;
  background: var.$secondaryColor;

  @include var.breakpoint(var.$wide) {
    @include var.grid(2, 1, 0, center, start);
    padding-block: 0;
  }

  .right {
    display: none;
    width: 100%;

    img {
      width: 100%;
    }

    @include var.breakpoint(var.$wide) {
      display: block;
    }
  }

  .left {
    width: 95%;
    margin: 0 auto;
    @include var.flex(center, start, 2rem, column);

    @include var.breakpoint(var.$wide) {
      margin-top: 10rem;
      gap: 10rem;
    }
  }

  h1 {
    @include var.text(
      116,
      700,
      var.$primaryColor,
      initial,
      auto,
      true,
      60,
      320,
      1920
    );
    position: relative;
    width: min-content;
    white-space: pre-wrap;

    span {
      position: absolute;
      color: transparent;
      -webkit-text-stroke: 1px black;
      top: 0.5%;
      left: 1%;
    }
  }

  .content {
    position: relative;
    align-self: center;
    max-width: 640px;

    &::before {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      left: -8%;
      background: url("/orange-arrow.svg") no-repeat center center;
      width: calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
      height: calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
      background-size: contain;

      @include var.breakpoint(var.$tablet) {
        display: block;
        left: -5%;
      }
      
      @include var.breakpoint(var.$wide) {
        left: -8%;
      }
    }

    p {
      @include var.text(23, 400, black, initial, auto, true, 18, 320, 1920);
      position: relative;
    }
  }

  .logo {
    margin-top: 8.6rem;
    position: relative;
    @include var.flex(center, center, 0);

    img {
      position: absolute;
      width: 100%;
      height: 151px;
      inset: 0;
      margin: auto;
      object-fit: contain;
      z-index: 0;
    }

    span {
      position: relative;
      z-index: 1;
      background: var.$primaryColor;
      border-radius: 10px;
      padding: 1rem;
      transform: rotate(-5deg);
      @include var.text(23, 700, white, initial, auto, true, 16, 320, 1920);
    }
  }

  @include var.breakpoint(1454px) {
    & + footer {
      margin-top: 0;
    }
  }
}
